name: Odoo_services_Prim  er_Modulo

services:
  odoo:
    image: odoo:18
    container_name: odoo_primer_modulo
    ports:
      - "8069:8069"
    depends_on:
      - db
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    volumes:
      - odoo_data:/var/lib/odoo
      - ./extra-addons:/mnt/extra-addons
      - .config/:/etc/odoo/

  db:
    image: postgres
    container_name: odoo_db_primer_modulo
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_DB=postgres
    volumes:
      - db_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: always
    depends_on:
      - db
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin1234
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  odoo_data:
  addons_path:
  db_data:
  pgadmin_data: